
<form method="post" action="/Donat/Index">
    <label>Введите сумму</label>
    <br />
    <input type="number" name="Amount" />
    <br />
    <label>Введите коментарий</label>
    <br />
    <input type="text"  name="Description"/>
    <br />
    <input type="submit" value="Подтвердить" />
</form>