@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <p>Во время оплаты произошла ошибка попробуйте заного</p>
    <a href="HomePage/Index">Главная</a>
    <a href="DonatPage/Index">Сделать пожертвование</a>
</div>
